<div class="row">
    <div class="col col-md-6 col-sm-12" *ngFor="let chart of chartData">
        <div class="card">
            <canvas
                baseChart
                [type]="chart.type"
                [data]="chart"
                [options]="chartOption"
                [legend]="true"
                [width]="chart.chartWidth"
                height="250"
                class="chart"
            >
            </canvas>
            <div class="card-body text-start">
                <h5 class="card-title text-center">{{ chart.title }}</h5>
                <p class="card-text">
                    {{ chart.description }}
                </p>
            </div>
        </div>
    </div>
</div>
