<div class="d-flex justify-content-center my-2 py-2">
    <button class="btn btn-light w-75 border button-compose">Compose</button>
</div>
<div class="nav flex-column" *ngFor="let category of categories">
    <a class="nav-link" href="#">{{ category }}</a>
</div>
<div class="labels text-center">
    <div class="labels-container">
        <div
            class="label-item"
            *ngFor="let label of labels; let index = index"
            [style.backgroundColor]="label.color"
        >
            <span>{{ label.labelName }}</span>
        </div>
        <button class="button bg-light" (click)="onAddLabel()">
            <span class="button-add">+</span> Add new label
        </button>
    </div>
</div>
