<div class="sidebar" [class.hide]="sidebarOpen || isSidebarHidden()">
    <ul class="nav flex-column align-items-center">
        <li class="nav-item active">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-house fa-2xs"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-envelope fa-2xs"></i>
                <span class="title">Mail</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-user fa-2xs"></i>
                <span class="title">Profile</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa-solid fa-users-rectangle fa-2xs"></i>
                <span class="title">Users</span>
            </a>
        </li>
    </ul>
</div>
