.table-container {
    height: 500px; /* Set the desired height for the scrollable area */
    overflow: auto; /* Enable vertical scrolling if content overflows */
}
.navigation {
    width: 13%;
}

.nav-link {
    color: #333;
}

.list-group-item {
    border: none;
}

.list-group-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.list-group-item h3 {
    font-size: 16px;
}

.list-group-item h4 {
    font-size: 14px;
}

.list-group-item p {
    font-size: 12px;
}

.label-item {
    font-size: 0.7em;
    width: 40%;
    text-align: center;
    border-radius: 5%;
}

.button-dropdown {
    border: none;
}

.button-delete {
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.button-delete:hover {
    transform: scaleY(1.1) scaleX(1.1);
    background-color: #209e91;
}
