<div class="container-fluid" *ngIf="mail$ | async as mail">
    <div class="row">
        <div>
            <button class="btn btn-back" (click)="onNavigateBack()">
                Back
            </button>
        </div>
    </div>

    <div class="row person-info mt-3">
        <div class="col-lg-4 col-md-12 d-flex align-items-center">
            <img
                class="img-fluid rounded-circle"
                width="70px"
                [src]="mail.img"
                [alt]="mail.author"
            />
            <div class="name ms-2">
                <h2>{{ mail.author }}</h2>
                <div
                    class="label-item"
                    [style.backgroundColor]="mail.label.color"
                >
                    {{ mail.label.labelName }}
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div
                class="contact-info phone-email d-flex flex-column justify-content-start"
            >
                <div class="phone">
                    <i
                        class="fa-solid fa-mobile-screen pe-2"
                        style="color: #8f9084"
                    ></i>
                    <span class="ms-2">{{ mail.contactInfo.phone }}</span>
                </div>
                <div class="mail">
                    <i
                        class="fa-solid fa-envelope pe-1"
                        style="color: #8f9084"
                    ></i>
                    <span class="ms-2">{{ mail.contactInfo.email }}</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div
                class="contact-info title-address d-flex flex-column justify-content-start"
            >
                <div class="title">
                    <span>{{ mail.contactInfo.title }}</span>
                </div>
                <div class="address">
                    <span>{{ mail.contactInfo.address }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="message-details">
        <span class="message-subject">{{ mail.subject }}</span>
        <span class="message-date"
            >&bull; {{ mail.date | date : "h:mm a MMMM dd" }}</span
        >
    </div>

    <div class="message-body">
        <p>
            {{ mail.body }}
        </p>
    </div>

    <div class="btn-group answer-container" role="group">
        <button type="button" class="btn">
            <i
                class="fa-solid fa-share fa-flip-horizontal fa-2xs me-2"
                style="color: #f2f2f2"
            ></i
            >Reply
        </button>
        <button type="button" class="btn">
            <i class="fa-solid fa-share fa-2xs me-1" style="color: #f2f2f2"></i
            >Forward
        </button>
        <button type="button" class="btn">
            <i class="fa-solid fa-print fa-2xs me-2"></i>Print
        </button>
        <button type="button" class="btn">
            <i class="fa-solid fa-ban fa-2xs me-2"></i>Spam
        </button>
        <button type="button" class="btn">
            <i class="fa-regular fa-trash-can fa-2xs me-2"></i>Delete
        </button>
    </div>
</div>
